src/ServiceStackXCode/.idea
*.xcuserstate

*.xcuserstate

src/JsonServiceClient/JsonServiceClient.xcodeproj/project.xcworkspace/xcuserdata/mythz.xcuserdatad/UserInterfaceState.xcuserstate

src/ServiceStackXCode/xcproj/

src/ServiceStackXCode/.idea/workspace.xml

*.xcbkptlist
