<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ServiceStackClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TechStacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51A081761A7F6DB5000590E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A0818D1A7F6DB6000590E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A081AB1A7F7142000590E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A081B51A7F7142000590E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
